<section id="about" class="about">
    <div class="container">
      <div class="row">
        <!-- content about -->
        <div class="col-md-8 paragraf">
          <h5>about</h5>
          <hr>
        
          <div class="col-md-4 col-4 logo" style="padding: 0px;"  
          data-aos="zoom-in" data-aos-delay="100">
            <img src="img/logo1.PNG" alt="Logo Happily After" class="img-fluid ">
          </div>

          
          <br>
          <p class="text-justify"><b style="color:#11456B;">Happily After</b> merupakan sebuah platform untuk menginisiasi trend baru dalam pembuatan
            digital invitation dan curiculum vitae. kami menyediakan jasa pembuatan wedding digital invitation (undangan
            pernikahan) dan curiculum vitae.</p>
        </div>

        <!-- content contact -->
        <div class="col-md-4 contact">
          <h5>contact</h5>
          <hr>

          <div class="col-md-12 ">
            <div class="row">
              <div class="col-md-4 col-4">
                <a href="">
                  <i class="fas fa-user"></i>
                </a>
              </div>
              <div class="col-md-4 col-4">
                <a href="">
                  <i class="fab fa-github-square"></i>
                </a>
              </div>
              <div class="col-md-4 col-4">
                <a href="">
                  <i class="far fa-envelope fa-2x"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="oval"></div>
    </div>
</section>
