<section class="product" id="product">
    <!-- Judul product -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 text-center text-product">
                <h5>our product</h5><hr>
            </div>
        </div>
    </div>  

 
    <div class="container">
        <!-- Card wedding -->
        <div class="row carddeck">
            <div class="col-md-4" 
                data-aos="flip-left" data-aos-duration="3000">
                <div class="card shadow mb-5">   
                    <a href=""><img class="card-img-top" src="/img/carousel1.jpg"  alt=""></a>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                        content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <a href="https://api.whatsapp.com/send?phone=82262226562&text=Admin,%20Saya%20mau%20pesan.">
                                    <button type="button" class="btn btn-sm btn-outline-success">Buy</button>
                                </a>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" 
                data-aos="flip-left" data-aos-duration="3000">
                <div class="card shadow mb-5">
                    <a href=""><img class="card-img-top" src="/img/carousel1.jpg"  alt=""></a>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                        content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <a href="https://api.whatsapp.com/send?phone=82262226562&text=Admin,%20Saya%20mau%20pesan.">
                                    <button type="button" class="btn btn-sm btn-outline-success">Buy</button>
                                </a>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" 
                data-aos="flip-left" data-aos-duration="3000">
                <div class="card shadow mb-5">
                    <a href=""><img class="card-img-top" src="/img/carousel1.jpg"  alt=""></a>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                        content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <a href="https://api.whatsapp.com/send?phone=82262226562&text=Admin,%20Saya%20mau%20pesan.">
                                    <button type="button" class="btn btn-sm btn-outline-success">Buy</button>
                                </a>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- tutup row //tutup product wedding -->

        <!-- Card CV -->
        <div class="row carddeck">
            <div class="col-md-4"
                data-aos="flip-right" data-aos-duration="3000">
                <div class="card shadow mb-5">
                    <a href=""><img class="card-img-top" src="/img/carousel1.jpg"  alt=""></a>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                        content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <a href="https://api.whatsapp.com/send?phone=82262226562&text=Admin,%20Saya%20mau%20pesan.">
                                    <button type="button" class="btn btn-sm btn-outline-success">Buy</button>
                                </a>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4"
                data-aos="flip-right" data-aos-duration="3000">
                <div class="card shadow mb-5">
                    <a href=""><img class="card-img-top" src="/img/carousel1.jpg"  alt=""></a>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                        content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <a href="https://api.whatsapp.com/send?phone=82262226562&text=Admin,%20Saya%20mau%20pesan.">
                                    <button type="button" class="btn btn-sm btn-outline-success">Buy</button>
                                </a>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4"
                data-aos="flip-right" data-aos-duration="3000">
                <div class="card shadow mb-5">
                    <a href=""><img class="card-img-top" src="/img/carousel1.jpg"  alt=""></a>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                        content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <a href="https://api.whatsapp.com/send?phone=82262226562&text=Admin,%20Saya%20mau%20pesan.">
                                    <button type="button" class="btn btn-sm btn-outline-success">Buy</button>
                                </a>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- tutup row //tutup product CV -->
    </div>
    <!-- tutup container -->        
</section>

